h1 {
  color: green;
  text-align: center;
}

p {
  font-weight: bold;
}

button {
  color: black;
}

.DayMode {
  background-color: white;
  color: black;
}

.NightMode {
  background-color: black;
  color: white;
}